$Primary-text: #323232;
$Primary-CTA: #0095ff;
$Secondary-text: #afafaf;
$Background: #ffffff;

$Video-player: #000000;
$CTA-hover-state: #0065ad;
$Divider-line: #e1e1e1;
$Form-field-background: #fafafa;
