@use "./breakpoints" as *;

@font-face {
    font-family: Avenir;
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: Avenir;
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
    font-weight: 400;
}

$site-main-font: "Avenir";

@mixin page-header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
}

@mixin section-header {
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
}

@mixin subheader {
    font-weight: 700;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

@mixin body {
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

@mixin labels-and-buttons {
    font-weight: 700;
    font-size: .625rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: .75rem;
        line-height: 1.25rem;
    }
}