@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colours" as *;

.main {
  @include container-margin;
  &__body {
    @include desktop {
      width: 75%;
      padding-right: 1rem;
    }
  }
  @include desktop {
    display: flex;
    max-width: 1080px;
  }
  &__aside {
    @include desktop {
      height: 100%;
      border-left: 1px solid $Mercury;
      padding-left: 1.5rem;
    }
  }
}
