@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
.button {
  width: 100%;
  @include tablet {
    display: flex;
    justify-content: end;
    width: auto;
  }
  &__body {
    background: url("../../assets/images/upload.svg") no-repeat scroll 5px;
    @include button;
    @include tablet {
      margin-right: 1.5rem;
    }
  }
}
