@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.upload {
  @include container-margin;
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  &__title {
    @include padding-above-header;
    @include padding-bottom;
    @include page-header;
  }
  &__label {
    @include body;
    color: $Secondary-text;
    text-transform: uppercase;
  }
  &__image {
    width: 100%;
    margin-top: 0.25rem;
    border-radius: 4px;
    @include padding-bottom;
    @include desktop {
      padding: 0;
      object-fit: cover;
    }
  }

  &__input {
    @include form-input;
    @include margin-bottom;
    height: 2.5rem;
  }
  &__text {
    @include form-input;
    @include margin-bottom;
    @include tablet {
      height: 4.5rem;
    }
    @include desktop {
      height: 5rem;
    }
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  @include tablet {
    border-top: 1px solid $Divider-line;
    border-bottom: 1px solid $Divider-line;
    margin-bottom: 1.5rem;
  }
  @include desktop {
    flex-direction: row;
    align-items: baseline;
  }
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 50%;
    padding-top: 1.5rem;
  }
  @include desktop {
    width: 53%;
  }
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include desktop {
    margin-left: 1.5rem;
  }
}
.button {
  display: flex;
  flex-direction: column-reverse;
  @include tablet {
    flex-direction: row;
  }
  &__publish {
    background: url("../../assets/images/publish.svg") no-repeat scroll 5px;
    text-transform: uppercase;
    @include button;
    @include margin-bottom;
  }
  &__cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    @include button;
    background-color: $Background;
    color: $Primary-CTA;
  }
}
