@use "../../styles/partials/breakpoints" as *;

.video {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  @include tablet {
    width: 92%;
  }
  @include desktop {
    max-width: 950px;
  }
}
