@use "../../styles/partials/colours" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;

.video {
  width: 100%;
  aspect-ratio: 16/9;
  @include tablet {
    // @include container-margin;
    // padding: 0 3%;
  }
  @include desktop {
    // padding: 0 15%;
    max-width: 1080px;
    display: block;
    margin: 0 auto;
  }
}

.max-width {
  // background-color: $BrainFlix-DarkBlack;
  width: 100%;
  //   @include tablet {
  //     display: flex;
  //     justify-content: center;
  //   }
}
