@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/breakpoints" as *;

.comment {
  display: flex;
  @include padding-top-and-bottom;
  border-bottom: 1px solid $Divider-line;
  &__avatar {
    @include avatar;
  }
  &__body {
    width: 100%;
    @include padding-left;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
  }
  &__name,
  &__date,
  &__text {
    margin: 0;
  }
  &__name {
    @include subheader;
  }
  &__date {
    @include body;
    color: $Secondary-text;
  }
  &__text {
    @include body;
    @include desktop {
      padding-right: 1rem;
    }
  }
}
