.post-details {
    display: flex;
    justify-content: space-between;
}
.views {
    display: flex;
    justify-content: space-evenly;
}
.likes {
    display: flex;
    justify-content: space-evenly;
}